@import '~grommet/scss/hpe/index';

#content {
  max-width: 800px;
  margin: 0 auto;
}

$green: rgba(0,255,0,.5);
$yellow: rgba(255,255,0,.5);
$red: rgba(255,0,0,.5);

input[type="range"].risk {

  &::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, $green, $yellow 50%, $red);
    background: -moz-linear-gradient(left, $green, $yellow 50%, $red);
    background: linear-gradient(left, $green, $yellow 50%, $red);
    height: 16px;
  }

  &::-webkit-slider-thumb {
    background-color: gray;
    border-radius: 0;
    border: 0px;
    width: 8px;
    margin-top: -5px;
  }
}
