@import '~grommet/scss/hpe/index';


#content {
  max-width: 800px;
  margin: 0 auto;
}

input[type="range"].risk {

  &::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left,rgba(0,254,0,.5),rgba(255,0,0,.5));
    background: -moz-linear-gradient(left,rgba(0,254,0,.5),rgba(255,0,0,.5));
    background: linear-gradient(left,rgba(0,254,0,.5),rgba(255,0,0,.5));
    height: 16px;
  }

  &::-webkit-slider-thumb {
    background-color: gray;
    border-radius: 0;
    border: 0px;
    width: 8px;
    margin-top: -5px;
  }
}
